.input {
  background: none;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  color: white;
  font: 400 0.95rem var(--font);
  height: 50px;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.input:focus {
  border: 2px solid var(--orange-web);
  outline: none;
}

.input::placeholder {
  color: rgb(110, 110, 110);
  opacity: 1;
}
