.input {
  background: none;
  border-radius: 0.5rem;
  border: 1px solid #525252;
  color: white;
  font: 400 0.95rem var(--font);
  height: 50px;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.input:focus {
  border: 2px solid var(--orange-web);
  outline: none;
}

.input::placeholder {
  color: #707070;
  opacity: 1;
}
