button {
  background: none;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  height: 3rem;
  padding: 0 2rem;
  white-space: nowrap;
}

.filled {
  background-color: var(--orange-web);
  color: black;
}

.filled:hover {
  background-color: var(--hunyadi-yellow);
}

.outlined {
  border: 1px solid var(--orange-web);
  color: var(--orange-web);
}
