.genres {
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  margin-right: var(--nav-height);
  max-height: 100svh;
  min-width: fit-content;
  overflow: hidden;
  padding-top: var(--nav-height);
}

.genres li {
  cursor: pointer;
  margin: 1rem 0;
  transition: transform 0.35s;
}

.genres li:hover {
  transform: scale(1.15);
}

@media only screen and (max-width: 768px) {
  .genres {
    display: none;
  }
}
