.comment {
  align-items: flex-start;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: left;
}

.created {
  color: rgb(165, 165, 165);
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.badge {
  background-color: var(--orange-web);
  border-radius: 1rem;
  color: var(--night);
  padding: 0 0.5rem;
}

.actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.actions > svg {
  color: var(--orange-web);
}

.expanded-container {
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 1rem;
  width: 100%;
}
