.discover-movies {
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.discover-movies-container {
  align-items: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0.25) 100%);
  display: flex;
  gap: 5rem;
  inset: 0;
  padding: 0 5vw;
  position: absolute;
}

.genres-selector {
  align-items: flex-start;
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: calc(100% - 200px);
  justify-content: center;
  list-style-position: inside;
  padding-right: 10vw;
}

.genres-selector li {
  background: none;
  border: none;
  cursor: pointer;
  font: 400 1rem var(--font);
  text-wrap: nowrap;
}

.discover-movies-content {
  align-items: flex-start;
  display: flex;
  flex: 1;
  height: 100%;
  max-width: 100%;
  min-width: 0;
}

.discover-movies-content:first-of-type {
  flex-direction: column;
  justify-content: center;
}

.movie-genres {
  display: flex;
  gap: 1rem;
  margin: 1.2rem 0 1rem 0;
  opacity: 0.5;
}

.movie-more-info {
  display: flex;
  gap: 3rem;
  margin: 0 0 1.5rem 0;
  opacity: 0.5;
}

.movie-more-info span {
  display: flex;
  gap: 0.5rem;
}

.swiper {
  align-self: flex-end;
  display: flex;
  flex: 1;
  margin-bottom: 60px !important;
}

.slide {
  aspect-ratio: 2 / 3;
  cursor: pointer;
  opacity: 0.5;
  position: relative;
}

.slide span {
  background-size: cover;
  inset: 0;
  position: absolute;
  transform: scale(0.85);
  transition: transform 0.5s ease-out;
}

.slide span:hover {
  transform: scale(1);
}

.active {
  opacity: 1;
}

.active span {
  transform: scale(1);
}

@media only screen and (max-width: 768px) {
  .discover-movies-container {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0.25) 100%);
    flex-direction: column;
  }

  .genres-selector {
    flex-direction: row;
  }

  .swiper {
    width: 100%;
  }
}
