.form {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

textarea {
  background: none;
  border: none;
  color: white;
  flex: 1;
  font: 400 0.95rem var(--font);
  padding: 1rem;
  resize: none;
}

.actions {
  border-top: 1px solid var(--border-color);
  display: flex;
}

.actions span {
  display: flex;
  flex: 1;
}

.actions span:first-of-type {
  align-items: center;
  justify-content: flex-start;
}

.actions span:last-of-type {
  gap: 1rem;
  justify-content: flex-end;
}

@media only screen and (min-width: 1200px) {
  .actions span {
    padding: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .actions {
    flex-direction: column-reverse;
  }

  .actions span {
    justify-content: center !important;
  }

  .actions span:last-of-type {
    padding: 1rem 0 1rem 1rem;
  }
}
