.slider-container {
  inset: auto 0 var(--nav-height) 0;
  position: absolute;
}

.slider {
  -ms-overflow-style: none;
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  flex: 1;
  gap: 1rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slide {
  background-color: var(--orange-web);
  flex: 0 0 calc(100% / 3 - 1rem);
  scroll-snap-align: start;
  opacity: 0.6;
}

.active {
  opacity: 1;
}
